! General configuration
XTerm.termName: xterm-256color
XTerm.vt100.faceName: monospace: size=10: antialias=false
XTerm.vt100.utf8: true
XTerm*faceName: fixed: size=9
XTerm*boldFont: fixed: size=9

! Geometry Setting
XTerm.vt100.metaSendsEscape: true
XTerm.vt100.geometria: 94x36

! Other settings
XTerm.vt100.selectToClipboard: true
XTerm*selectToClipboard: true
XTerm*saveLines: 1000
XTerm*loginShell: true
XTerm*sessionMgt: false
XTerm*fullscreen: never
